doctype html
html(lang="en")
    head
        title Reaktor App
        link(rel="stylesheet", href="table.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" ,integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js", integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" ,crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js",integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb", crossorigin="anonymous")
        script( src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" ,integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" ,crossorigin="anonymous")
    body
        div.jumbotron.text-center
            h1 Reaktor App
        div.container
            div.row
                div.col
                    table.table.table-bordered.table-striped
                        thead.thead-dark
                            tr
                                th Name
                                th Latitude
                                th Longitude
                                th Current Temperature
                                th 24h temperature high
                                th 24h temperature low
                        tbody
                            each result in results
                            tr
                                td #{result.name}
                                td #{result.latitude}
                                td #{result.longitude}
                                td #{result.currentTemp}
                                td #{result.highTemp}
                                td #{result.lowTemp}
                div.col
                    form(action="/update", method="POST")
                        p Observation point
                        select(name="city")
                            option Tokyo
                            option Helsinki
                            option New York
                            option Amsterdam
                            option Dubai
                        p Current temp:
                        input(type="number", name="currentTemp")
                        br
                        p Highest Temp:
                        input(type="number", name="highestTemp")
                        br
                        p Lowest Temp:
                        input(type="number", name="lowestTemp")
                        br
                        br
                        input(type="submit", value="Update")
                
        

